/*universal reset*/
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
	scroll-behavior: smooth;
}

.btn{
	height: 40px;
	width: 100px;
	border-radius: 15px;
	border: none;
	margin: 10px 0;
	background-color: #c8b2e0;
	outline: none;
}

.btn:hover{
	cursor: pointer;
}

/*landing page css*/
.landing-page{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(../images/texture-background.jpg);
	background-size: cover;
	background-position: center;
}

.landing-page > h1{
	font-size: 50px;
}

.landing-page > h1 span{
	color: #1d4946;
}

.landing-page > a{
	text-decoration: none;
	margin-top: 50px;
	font-size: 20px;
	color: #1d4946;
}
/*end of landing page css*/

/*main page css*/
.home{
	height: 40vh;
}

nav{
	height: 40px;
	background-color: #33807b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top:0;
	z-index: 100;
}

nav > a{
	text-decoration: none;
	color: black;
	margin-left: 20px;
}

nav > ul{
	display: flex;
	list-style-type: none;
	margin-right: 20px;
}

nav > ul > li > a{
	text-decoration: none;
	margin-right: 20px;
	color: black;
}

.about-content{
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about-content > p{
	margin: 35px 250px;
}

.about-content > h1{
	margin-top: 50px;
}
/*end of main page css*/

/*skills css*/
.skills{
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.skills-container{
	display: flex;
}

.container-left > img, .container-right > img{
	height: 80px;
	width: 80px;
	margin: 0 20px;
}
/*end of skills css*/

/*start of projects css*/
.project-container{
	height: 100%;
	text-align: center;
	background-color: #b2e0dd;
}

.project-container > h1{
	padding: 30px 0;
	font-size: 50px;
}

.project{
	display: flex;
	align-items: center;
	margin: 25px 0;
}

.btn > a{
	text-decoration: none;
	color: black;
}

.capstone1, .capstone3{
	justify-content: flex-start;
	margin-left: 50px;
}

.capstone2{
	justify-content: flex-end;
	margin-right: 50px;
}

.project-img > img{
	height: 75px;
	width: 150px;
	padding: 0px 20px;
}
/*end of projects css*/

/*start of contact css*/
.contact-page{
	text-align: center;
	height: 50vh;
}

.contact-page > h1{
	margin-top: 50px;
}

.input-form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px 0;
}

.contact-page > div > input{
	margin-bottom: 5px;
	width: 300px;
	height: 20px;
}

.contact-page > div > textarea{
	width: 300px;
	height: 100px;
}

.contact-page > div > input, .contact-page > div > textarea{
	padding: 12px;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
}

.contact-page > div > textarea{
	resize: none;
}

.contact-page > div > button{
	margin-top: 10px;
}

.soc-med{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.soc-med > a{
	margin: 10px 20px;
	color: #583380;

}

.soc-med > a:hover{
	color: #c8b2e0;
}

/*end of contact css*/

/*MEDIA TAGS*/
/*Media tags for iPad view*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.landing-page > h1{
		font-size: 30px;
	}

	.about-content > p{
		margin: 20px 150px;
	}

	.skills-container{
		flex-direction: column;
	}

	.container-left > img, .container-right > img{
		margin: 10px 10px;
	}
}
/*end of iPad view*/

/*Media tags for iPhone6/7/8 portrait view*/
@media only screen and (min-width: 321px) and (max-width: 375px){
	.landing-page > h1{
		font-size: 15px;
	}

	.landing-page > a{
		font-size: 10px;
	}

	nav > a, nav > ul > li > a{
		font-size: 8px;
	}

	nav{
		height: 25px;
	}

	nav > a{
		margin-left: 10px;
	}

	nav > ul > li > a{
		margin-right: 10px;
	}

	.about-content > h1{
		font-size: 15px;
		/*margin-top:0;*/
	}

	.about-content > p{
		font-size: 8px;
		margin: 10px 30px;
	}

	.container-left > img, .container-right > img{
		height: 25px;
		width: 25px;
		margin: 5px 10px;
	}

	.skills{
		height: 20vh;
	}

	.skills-container{
		display: flex;
		flex-direction: column;
	}

	.project-desc > h1{
		font-size: 20px;
	}

	.project-desc > p{
		font-size: 10px;
	}
}
/*end of iPhone 6/7/8 portrait view*/

/*Media tags for iPhone 6/7/8 landscape view*/
@media only screen and (min-width: 376px) and (max-width: 667px){
	.landing-page > h1{
		font-size: 20px;
	}

	.landing-page > a{
		font-size: 15px;
	}

	nav{
		height: 35px;
	}

	nav > a, nav > ul > li > a{
		font-size: 10px;
	}

	.about-content > h1{
		font-size: 20px;
	}

	.about-content > p{
		font-size: 10px;
		margin: 20px 50px;
	}

	.container-left > img, .container-right > img{
		height: 35px;
		width: 35px;
		margin: 10px 10px;
	}

	.project-container{
		height: 100%;
	}

	.project-desc > h1{
		font-size: 20px;
	}

	.project-desc > p{
		font-size: 15px;
		padding: 0 10px;
	}
}
/*end of iPhone 6/7/8 landscape view*/
@media only screen and (min-width: 668px) and (max-width: 736px){
	.landing-page > h1{
		font-size: 30px;
	}

	.landing-page > a{
		font-size: 15px;
	}

	.about-content > h1{
		font-size: 20px;
	}

	.about-content > p{
		font-size: 15px;
		margin: 10px 100px;
	}

	.container-left > img, .container-right > img{
		height: 35px;
		width: 35px;
		margin: 10px 10px;
	}
}
/*Media tags for*/